* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1b1f24;
    color: white;
    margin: 3rem 20% 0 20%;
}

/* Buttons */
a.button {
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 0.2rem;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
    transition-duration: 0.3s;
}

a.button:hover {
    opacity: 70%;
}

a.button.primary.solid {
    background-color: #FFC800;
    color: #1b1f24;
}

a.button.primary.subtle {
    background-color: #1b1f24;
    color: #FFC800;
}

a.button.primary.subtle:hover {
    background-color: #FFFFFF30;
    color: #FFC800;
}

/* Global Section */

.section {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section h2{
    font-weight: 600;
    margin: 0 0 0.5rem 0;
}

/* Section 1 */
.introduction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.introduction h1, p {
    margin: 0;
}

.introduction .highlight {
    color: #FFC800;
    font-weight: 400;
    font-size: 0.9rem;
}

.introduction .profile {
    display: flex;
    align-items: center;
    gap: 1rem
}

.profile .summary p, span{
    font-weight: 400;
    font-size: 0.9rem;
}

.profile .pic {
    border-radius: 100px;
    height: 100px;
}

.introduction .actions{
    display: flex;
    gap: 0.5rem;
}

/* Section 2 */
.selected-projects {
    display: grid;
    grid-template: auto auto / 50% auto;
    gap: 1rem;
}

.selected-projects h3, p {
    margin: 0;
}

.selected-projects h3 {
    font-weight: 500;
}

.selected-projects p {
    font-weight: 400;
    font-size: .9rem;
    color: #b9cad5;
}

.selected-projects a.card {
    background-color: #2d343f;
    border-radius: 0.6rem;
    transition-duration: 0.4s;
}

.selected-projects a.card:hover{
    transform: scale(0.96);
    cursor: pointer;
}

.selected-projects a.card img{
   width: 100%;
   height: 320px;
   object-fit: cover;
   border-radius: 0.6rem;
}

.selected-projects a.card .desc{
    padding: 0 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

/* CTA */
.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h1, p {
    margin: 0;
}

.cta h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

.cta p {
    font-size: 0.9rem;
}

.cta .socmed {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
}

.cta .socmed a {
    transition-duration: 0.2s;
}

.cta .socmed a:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 80%;
}

.cta .socmed a img {
    height: 2rem;
}

/* Footer */
footer {
    background-color: none;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    opacity: 20%;
}

@media (max-width: 1020px) {
    body {
        margin: 3rem 10% 0 10%;
    }
}